{% extends 'product/base.html' %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="product-name">Produktname:</label>
        {{ form.product_name }}
    </div>
    <div>
        <label for="new_product_type">Produktart:</label>
        {{ form.new_product_type }}
    </div>
    <div>
        <label for="existing_brand">Marke:</label>
        {{ form.existing_brand }}
        <label for="new_brand">oder neue Marke hinzufügen:</label>
        {{ form.new_brand }}
    </div>
    <div>
        <label for="existing_supermarket">Supermarkt:</label>
        {{ form.existing_supermarket }}
        <label for="new_supermarket">oder neuen Supermarkt hinzufügen:</label>
        {{ form.new_supermarket }}
    </div>
    <div>
        <label for="size">Größe:</label>
        {{ form.size }}
    </div>
    <div>
        <label for="unit">Einheit:</label>
        {{ form.unit }}
    </div>
    <div>
        <label for="price">Preis:</label>
        {{ form.price }}
    </div>
    <div>
        <label for="currency">Währung:</label>
        {{ form.currency }}
    </div>
    <div>
        <label for="purchase_date">Kaufdatum:</label>
        {{ form.purchase_date }}
    </div>
    <button type="submit">Absenden</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>

    $(function() {
        $('#product-name').autocomplete({
            source: '{% url "product:autocomplete_products" %}',
            minLength: 2,
            select: function(event, ui) {
                $('#product-name').val(ui.item.value);
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var newBrandInput = document.querySelector('[name="new_brand"]');
        var existingBrandSelect = document.querySelector('[name="existing_brand"]');
        var newSupermarketInput = document.querySelector('[name="new_supermarket"]');
        var existingSupermarketSelect = document.querySelector('[name="existing_supermarket"]');

        existingBrandSelect.addEventListener('change', function() {
            if (existingBrandSelect.value) {
                newBrandInput.value = '';
                newBrandInput.disabled = true;
            } else {
                newBrandInput.disabled = false;
            }
        });

        newBrandInput.addEventListener('input', function() {
            if (newBrandInput.value) {
                existingBrandSelect.value = '';
                existingBrandSelect.disabled = true;
            } else {
                existingBrandSelect.disabled = false;
            }
        });

        existingSupermarketSelect.addEventListener('change', function() {
            if (existingSupermarketSelect.value) {
                newSupermarketInput.value = '';
                newSupermarketInput.disabled = true;
            } else {
                newSupermarketInput.disabled = false;
            }
        });

        newSupermarketInput.addEventListener('input', function() {
            if (newSupermarketInput.value) {
                existingSupermarketSelect.value = '';
                existingSupermarketSelect.disabled = true;
            } else {
                existingSupermarketSelect.disabled = false;
            }
        });
    });
</script>
{% endblock %}
