{% extends 'product/base.html'%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block body %}
          <h1>Products</h1>
          <form method="GET" action=".">
              <input type="text" name="search" placeholder="Search for products or brands...">
              <button type="submit">Search</button>
              <button type="button" onclick="window.location.href=window.location.pathname;">Reset</button>
          </form>
          {% if product_list %}
          <table>
              <thead>
                  <tr>
                      <th>Product Name</th>
                      <th>Brand</th> 
                      <th>Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in product_list %}
                  <tr>
                      <td>{{ product.name }}</td>
                      <td>{{ product.brand.name }}</td> 
                      <td><a href="{% url 'product:product_detail' product.id %}">View Details</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% else %}
          <p>No products found.</p>
          {% endif %}
        {% endblock %}
    </body>
</html>