{% extends 'product/base.html' %}
{% block body %}
<form method="get" id="searchForm" class="me-5 ms-5 mt-5 pt-4">
  <div class="d-flex">
    <input class="form-control form-control-lg me-2" type="text" id="searchField" name="search" value="{{ search_query }}" placeholder="Suche nach Produktnamen oder Marken...">
    <button class="btn btn-primary me-2" type="submit" id="searchButton">Suche</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href=window.location.pathname;">
      <i class="material-icons">replay</i>
    </button>
  </div>

  <p class="ms-3 mt-1"><strong>{{ products.paginator.count }} Treffer gefunden</strong></p>

  {% if products %}
  <div class="pe-5 ps-5 d-flex mb-2" style="gap: 2%;">
    {% if search_query %}
    <div style="flex: 0 0 25%;">
      <select name="brand" class="form-select mt-2 w-100">
          <option value="">Alle Marken</option>
          {% for brand in brands %}
              <option value="{{ brand }}" {% if brand == selected_brand %}selected{% endif %}>{{ brand }}</option>
          {% endfor %}
      </select>
    </div>
  
    <div style="flex: 0 0 25%;">
      <select name="product_type" class="form-select mt-2 w-100">
          <option value="">Alle Produktarten</option>
          {% for type in product_types %}
          <option value="{{ type }}" {% if type == selected_product_type %}selected{% endif %}>{{ type }}</option>
          {% endfor %}
      </select>
    </div>
    {% endif %}
  </div>
  {% endif %}

</form>

<div class="me-5 ms-5 pe-5 ps-5">
  {% if products %}
  <table class="table">
    <thead>
      <tr>
        <th>Produktname</th>
        <th>Produktart</th>
        <th>Marke</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.product_type }}</td>
        <td>{{ product.brand.name }}</td>
        <td>
          <a href="{% url 'product:product_detail' product.id %}">
            <i class="material-icons">arrow_forward</i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
        <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="First" {% if not products.has_previous %}tabindex="-1" aria-disabled="true"{% endif %}>
          <span aria-hidden="true">&laquo; Erste</span>
        </a>
      </li>

      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">Vorherige</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Vorherige</span>
      </li>
      {% endif %}

      {% for num in products.paginator.page_range %}
        {% if products.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">Nächste</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Nächste</span>
      </li>
      {% endif %}

      <li class="page-item {% if not products.has_next %}disabled{% endif %}">
        <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Last" {% if not products.has_next %}tabindex="-1" aria-disabled="true"{% endif %}>
          <span aria-hidden="true">Letzte &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  {% else %}
  <p>No products found.</p>
  {% endif %}
</div>

<div class="container">
  {% if largest_shrinkflations %}
  <h2>Die fünf größten Schrumpflationen</h2>
    <table class="table">
      <thead>
          <tr>
            <th>Produktname</th>
            <th>Vorheriges Kaufdatum</th>
            <th>Neuestes Kaufdatum</th>
            <th>Schrumpflation (%)</th>
            <th>Details</th>
          </tr>
      </thead>
      <tbody>
        {% for shrinkflation in largest_shrinkflations %}
          <tr>
            <td>{{ shrinkflation.product.name }}</td>
            <td>{{ shrinkflation.previous_date }}</td>
            <td>{{ shrinkflation.newest_date }}</td>
            <td>{{ shrinkflation.shrinkflation_p_s}}</td>
            <td>
              <a href="{% url 'product:product_detail' shrinkflation.product.id %}">
                <i class="material-icons">arrow_forward</i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchField = document.getElementById("searchField");
    const searchButton = document.getElementById("searchButton");

    function toggleButton() {
      searchButton.disabled = searchField.value.trim() === "";
    }

    toggleButton();

    searchField.addEventListener("input", toggleButton);
  });
</script>
{% endblock %}
