{% extends 'product/base.html' %}
{% load render_table from django_tables2 %} 

{% block body %}
<h1>Product: {{product.name}}</h1>

  <div class = "container">
    <h2>Brand: {{product.brand}}</h2>
    <p> </p>
    {% render_table table %}

  </div>

  <div class="row mt-4">
    <div class="col-12">
        <h2>Price changes over time</h2>
        {% if price_change.change > 02.00 %}
            <p>Between {{ price_change.oldest_date }} and {{ price_change.newest_date }}, the price increased by: {{ price_change.change }}%</p>
        {% elif price_change.change < 0.00 %}
            <p>Between {{ price_change.oldest_date }} and {{ price_change.newest_date }}, the price decreased by: {{ price_change.change }}%</p>
        {% elif price_change.change == 0.00 %}
            <p>Between {{ price_change.oldest_date }} and {{ price_change.newest_date }}, the price remained the same.</p>
        {% else %}
            <p>Not enough data to calculate price change.</p>
        {% endif %}

    </div>
  </div>  

{% endblock %}
