{% extends 'product/base.html' %} {% block body %}
<h1>{{product.name}}</h1>
<p>{{product.brand}}</p>
<h2>Purchases</h2>
{% if purchases %}
<table>
  <thead>
    <tr>
      <th>Supermarket</th>
      <th>Size</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchases %}
    <tr>
      <td>{{ purchase.supermarket }}</td>
      <td>{{ purchase.size }}{{ purchase.unit }}</td>
      <td>{{ purchase.price }}{{ purchase.currency }}</td>
      <td>{{ purchase.purchase_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No purchases yet.</p>
{% endif %} {% endblock %}
